/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');


/* default style */
body{
    margin: 0;
    line-height: 1.5;
    font-size: 16px;
    font-weight: 400;
    background-color: #f3f2f1;
}
*:not(i){
    font-family: 'Roboto', sans-serif;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
:before,:after{
    box-sizing: border-box;
}
img{
    max-width: 100%;
    vertical-align: middle;
}
.container{
    max-height: 1140px;
    margin: auto;
}
header,
section,
footer{
    display: block;
    width: 100%;
}

.row{
    display: flex;
    flex-wrap: wrap;
}
.justify-content-between{
    justify-content: space-between;
}

.align-items-center{
    align-items: center;
}

.section-title{
    flex: 0 0 100%;
    max-width: 100%;
    padding: 0 15px;
    text-align: center;
    margin-bottom: 60px;
}

.section-title h2{
    font-size: 75px;
    color: #000000;
    font-weight: 700;
    font-family: 'Great Vibes', cursive;
    letter-spacing: 2px;
    margin: 0;
    text-transform: capitalize;

}

/* Couple Section */
.couple-section{
    padding: 6rem 0;
    width: 100%;
}

.couple-section .couple{
    flex: 0 0 50%;
    max-width: 50%;
    padding: 0 60px;
    text-align: center;
    position: relative;
}

.couple-section .couple:nth-child(2)::before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 1px;
    height: 100%;
    background-color: #cccccc;
}

.couple-section .couple .fa-heart{
    position: absolute;
    left: -20px;
    width: 31px;
    background-color: #f3f2f1;
    padding: 5px;
    text-align: center;
    font-size: 18px;
    top: 30%;
}
.couple-section .couple img{
    max-width: 280px;
    width: 100%;
    border-radius: 50%;
    border: 10px solid transparent;
    border-color: #b2afa2;
}

.couple-section .couple h3{
    font-size: 30px;
    margin: 15px 0;
    margin-bottom: 0px;
    font-family: 'Great Vibes', cursive;
    font-weight: normal;
    letter-spacing: 2px;
}

.couple-section .couple h4{
    font-size: 20px;
    font-family: 'Great Vibes', cursive;
    font-weight: normal;
    letter-spacing: 2px;
}

.couple-section .couple h5{
    font-size: 20px;
    font-family: 'Great Vibes', cursive;
    font-weight: normal;
    letter-spacing: 2px;
}

/* Mobile version  */

@media(max-width: 767px){
    .section-title h2{
        font-size: 45px;
    }
    .couple-section{
        padding: 5rem 0;
    }
	.couple-section .couple{
		flex: 0 0 100%;
        max-width: 100%;
        padding: 0 15px;
	}
	.couple-section .couple:nth-child(2){
		margin-top: 50px;
	}
	.couple-section .couple:nth-child(2):before{
		content: none;
	}
	.couple-section .couple .fa-heart{
		display: none;
	}
}