/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');


/* default style */
body{
    margin: 0;
    line-height: 1.5;
    font-size: 16px;
    font-weight: 400;
    background-color: #f3f2f1;
}
*:not(i){
    font-family: 'Roboto', sans-serif;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
:before,:after{
    box-sizing: border-box;
}
img{
    max-width: 100%;
    vertical-align: middle;
}
.container{
    max-height: 1140px;
    margin: auto;
}
header,
section,
footer{
    display: block;
    width: 100%;
}

.row{
    display: flex;
    flex-wrap: wrap;
}
.justify-content-between{
    justify-content: space-between;
}

.align-items-center{
    align-items: center;
}

.section-title{
    flex: 0 0 100%;
    max-width: 100%;
    padding: 0 15px;
    text-align: center;
    margin-bottom: 60px;
}

.section-title h2{
    font-size: 75px;
    color: #000000;
    font-weight: 700;
    font-family: 'Great Vibes', cursive;
    letter-spacing: 2px;
    margin: 0;
    text-transform: capitalize;

}

/* Story Section */

.story-section{
    padding: 7rem 0rem 130rem;
    width: 100%;
}

.story-section .story-content{
    flex:0 0 100%;
    max-width: 100%;
    position: relative;
}
.story-section .story-content::before{
    content: '';
    position: absolute;
    left:50%;
    width: 1px;
    height: 100%;
    top:0;
    background-color: #cccccc;
}
.story-section .story-item i{
    position: absolute;
	left:50%;
	margin-left: -15px;
	top:5px;
	width: 31px;
	text-align: center;
	background-color: #f3f2f1;
	padding:5px;
	font-size: 18px;
}

.story-section .story-item{
    display: flex;
	flex-wrap: wrap; 
    justify-content: center;
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 50px;
    position: relative;
}

.story-section .story-item:last-child{
	margin-bottom: 0;
}
.story-section .story-item:nth-child(even){
	flex-direction: row-reverse;
}
.story-section .story-item:nth-child(odd) .story-text{
	padding:0 60px 0 15px;
	text-align: right;
}
.story-section .story-item:nth-child(odd) .story-img{
    text-align: left;
	padding:0 15px 0 60px;
}
.story-section .story-item:nth-child(even) .story-text{
    text-align: left;
	padding:0 15px 0 60px;
}
.story-section .story-item:nth-child(even) .story-img{
    text-align: right;
	padding:0 60px 0 15px;
}


.story-section .story-text,
.story-section .story-img{
    flex:1;
    text-align: center;
    flex: 0 0 50%;
    max-width: 50%;
}

.flex-container {
    display: flex;
    justify-content: right; /* Adjust the alignment as per your need */
    align-items: center; /* Adjust the alignment as per your need */
    width: 90%; /* Make it take full width of parent */
    height: auto; 
}

.flex-container img {
    width: 39%;  /* or any other value that fits your design */
    height: auto;  /* maintain aspect ratio */
}


.story-section .story-text h3{
    font-size:  24px;
    margin: 0 0 8px;
    color: #000000;
    font-weight: 500;
    text-transform: capitalize;

}
.story-section .story-text span.date{
    font-size: 15px;
    font-weight: 700;
    color: #555555;
    margin: 0 0 15px;
    display: block;
    text-transform: capitalize;
}

.story-section .story-text p{
    display: inline-block; /* Set to inline-block to enable width settings */
    max-width: 50%;  /* Adjust this based on your image width */
    font-size: 16px;
    line-height: 26px;
    margin: 0;
    color: #555555;
}


/* Responsive version  */



@media(max-width: 1024px){
    .story-section{
        padding: 10rem 0 80rem !important;
    }
}
@media(max-width: 767px){
    .story-section{
        padding: 7rem 0rem 120rem !important;
    }
	.story-section .story-img{
		margin-top: 20px;
	}
	.story-section .story-content:before{
		left: 20px;
	}
	.story-section .story-item i{
		margin-left:0px;
        left:5px;
	}
	.story-section .story-text, .story-section .story-img {
        flex: 0 0 100%;
        max-width: 100%;
    }
    .flex-container img {
        flex: 0 0 100%;
        max-width: 50%;
    }
    .story-section .story-text p{
        max-width: 100%;
    }
    .story-section .story-item:nth-child(odd) .story-text {
    padding: 0 15px 0 50px;
    text-align: left;
    }
    .story-section .story-item:nth-child(even) .story-img {
    padding: 0 15px 0 50px;
    }
    .story-section .story-item:nth-child(even) .story-text,
    .story-section .story-item:nth-child(odd) .story-img {
    padding: 0 15px 0 50px;
    }
}

@media(min-width: 540px){
	.story-section{
		padding: 10rem 0 140rem !important;
	}
}

@media(min-width: 820px){
    .story-section{
        padding: 10rem 0 90rem ;
    }
}

@media(min-width: 768px){
    .story-section{
        padding: 10rem 0 100rem !important;
    }
}

@media (min-width: 1920px) and (max-width: 2559px) {
    .story-section{
        padding: 10rem 0 110rem !important;
    }
}

@media (min-width: 2560px) and (max-width: 3839px) {
    .story-section{
        padding: 10rem 0 135rem !important;
    }
    .flex-container img {
        width: 30%;  
        height: auto;  
    }
} 

@media (min-width: 3840px){
    .story-section{
        padding: 10rem 0 125rem !important;
    }
    .flex-container img {
        width: 25%;  
        height: auto;  
    }
}
